.main {
    background-color:black;
    color: whitesmoke;
    min-height:  80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    width: 100%;
}

.service_container {
    padding: 20px 10px;
}

.service_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.booking_container {
    
    display: flex;
    justify-content: space-around;
    margin: 30px 65px 50px 65px;
    border-radius: 5px;
}

.title {
    
    margin: 15px 10px 15px 65px;
    padding-right: 14px;
}

.btn1 {
    width: 20%;
    height: 6%;
    left: 50%;
    margin-bottom: 2em;
    border-radius: 1em;
    background: none;
    color: white;
    border-color: white;
    border-width: 3px;
    font-weight: bolder;
    transition: 0.4s;
    border-style: solid;
  }
  
  .btn1:hover {
    background-color: whitesmoke;
    color: black;
  
  }
