.main {
    background-color:rgb(0, 0, 0);
    background-image: url("/img/bookingBannerVintage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
    min-height:  80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    width: 100%;
}

.service_container {
    padding: 20px 10px;
}

.service_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.booking_container {
    
    display: flex;
    justify-content: space-around;
    margin: 30px 65px 50px 65px;
    border-radius: 5px;
    
}

.title {
    margin: 5% auto 0 auto;
    

}

.btn1 {
    width: 20%;
    height: 6%;
    left: 0;
    margin-left: 40%;
    margin-bottom: 2em;
    border-radius: 1em;
    margin-top: 1%;
    background: none;
    color: white;
    border-color: white;
    border-width: 3px;
    font-weight: bolder;
    transition: 0.4s;
    border-style: solid;
  }
  
  .btn1:hover {
    background-color: whitesmoke;
    color: black;
    
  }
