.container {
    background-color: rgb(0, 0, 0);
    color: rgb(195, 193, 193);
    z-index: 1;
    margin: 30px 65px 0px 65px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;

}

.booking_section {
    margin-top: 5%;
}

.booking_info {
    background-color: rgba(83, 82, 82, 0.3);
    color: rgb(151, 149, 149);
    padding: 20px 30px 20px 30px;
    border-radius: 7px;
}

.submit_button {
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 5%;
    width: 7%;
    border: none;
    padding: 5px;
    border-radius: 3px;
    opacity: 0.7;
    background-color: rgb(0, 145, 255);
}

.submit_button:hover {
    color: white;
}

