.container {
    display: flex;
    border-radius: 5px;
    width: 18%;
    margin: 0 10px 10px 10px
}
.service_container {
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.radio_buttons {
    padding-left: 7px;
}

.service_title{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}


.radioButton {
    display: none;
}


.buttonLabel {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #29292950;
    color: #bebebe;
    cursor: pointer;
    width: 100%

}
.buttonLabel p {
    margin: 0;
    padding: 0;
}

.radioButton:checked+.buttonLabel {
    background-color: #080808;
    color: #b8b8b8;
    border-color: rgb(74, 160, 160);
    border-width: 3px;
}