.form {
    display: flex;
    background-color:none;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form_component {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    color: whitesmoke;
}

.form_field {
    background-color: rgba(32, 32, 32, 0.658);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    margin-top: 3px;
    width: 50vw;
}

.text_area {
    max-height: 200px;
    min-height: 200px;
}