.container {
  color: rgba(255, 255, 255, 0.756);
  background-color: #212529;
  display: flex;
  margin-left: 30px;
  border-radius: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 50px;
  padding-left: 50px;
}
.infoItem {
  display: flex;
  flex-direction: row;

  height: 50px;
  margin-bottom: 30px;
}
.infoLabel {
  width: 200px;
  margin-top: 10px;
}

.infoInput {
  width: 400px;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actionButton {
  width: 100px;
  margin-right: 30px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: rgb(43, 43, 43);
  color: rgba(255, 255, 255, 0.853);
  border: none;
  font-size: 13px;
}
