.container {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
  }
  .tabMenu,
  .staffList,
  .record {
    border: 1px solid #000000;
  }
  
  .tabMenu {
    background-color: white;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tabButtonContainer {
    width: 100%;
  }
  .tabButton {
    padding: 15px 75px 15px 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
  }
  
  .tabButton:hover {
    background-color: red;
  }
  
  .staffList {
    background-color: white;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 10px;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
  }
  .titleContainer {
    height: 75px; /* set a fixed height */
    position: sticky;
    top: 0;
    margin-top: 10px;
  }
  
  .staffCard {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(52, 49, 255);
    justify-content: space-between;
    padding: 0px 15px;
    padding-bottom: 15px;
    border-radius: 15px;
  }
  .staffInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
  }
  .staffSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
    /* margin-right: 5px; */
  }
  
  .buttonSelector {
    border: 1px solid rgb(52, 49, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .select {
    font-weight: 500;
    font-size: 20px;
    border: 1px;
  }
  
  .record {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .recordTabMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* border: 1px solid black; */
    padding: 5px 10px;
  }
  
  .recordTabButton {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .recordTabButton:hover {
    background-color: #ffffff7f;
  }