.container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabMenu,
.staffList,
.record {
  border: 1px solid #000000;
}

.tabMenu {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.tabButton {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 25%;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.tabButton:hover {
  background-color: red;
}

.staffList {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10px;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
}
.titleContainer {
  height: 75px; /* set a fixed height */
  background-color: #fff;
  position: sticky;
  top: 0;
  margin-top: 10px;
}

.staffCard {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(52, 49, 255);
  justify-content: space-between;
  padding: 0px 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  
}
.staffInfo {
  display: flex;
  flex-direction: column;
}
.staffSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50px; */
  /* margin-right: 5px; */
}

.buttonSelector {
  border: 1px solid rgb(52, 49, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.select {
  font-weight: 500;
  font-size: 20px;
  border: 1px;
}

.record {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.top {
  flex: 2;
  display: flex;
  flex-direction: row;
}
.photo {
  /* border: 1px solid black; */
  flex: 1;
}
.imageContainer {
  /* border: 1px solid black; */
  width: auto;
  height: 200px;
  position: relative;
}


.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.titleRecord {
  margin-left: 10px;
}
.info {
  border: 1px solid black;
  flex: 3;
  display: flex;
  margin-left: 30px;
}
.infoList {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 20px;
  padding-left: 50px;
  border-radius: 50px;
}
.infoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoLabel {
  width: 200px;
}
.actions {
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  
}
.actionButton {
  width: 80px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: rgb(43, 43, 43);
  color: rgba(255, 255, 255, 0.853);
  border: none;
  font-size: 13px;
  
}
.bottom {
  flex: 3;
}

.itemList{
  display: flex;
  flex-direction: row;
}

.itemTitle {
  margin-left: 10px;
}
.itemContainer {
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.item {
  margin: 0px 5px;
  border: 1px solid black;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  padding: 5px 20px;
}

.itemLabel {
  width: 100px;
}

.itemInfo {
  width: 200px;
}