.imagesContainer {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  /* margin-left: 4px;
  margin-right: 21px;
  margin-bottom: 21px;
  margin: auto; */
}

.imgContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #283345;
  padding: 15px;
  border-radius: 15px;
}

.deleteButton {
  position:relative;
  bottom: 200px;
  left: 167px;
  width:fit-content;
  border-radius: 8px;
  background-color: red;
  color: white;
  border: none;
}

.editButton {
  position:relative;
  bottom: 227px;
  left: 1.5px;
  width:fit-content;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: none;
}

.servicesContainer {
  min-height: 10%;
  width: 100%;
  position: relative;
  background-color: black;
}

/* .modal-content:target{
 display: block;
} */

.formContainer {
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #283345;
  display: block;
  position:fixed;
  top: 50%; 
  left: 25%; 
  transform: translate(-50%, -50%);
  padding: 50px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: #f0f2f0;
  
}

/* .modal-content {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 300px;
  position: relative;
  margin: 0 auto;
} */

/* .modal, .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  
} */


.formContainer {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.formContainer label {
  display: block;
  margin-bottom: 10px;
}

.formContainer input[type="text"],
.formContainer input[type="number"],
.formContainer textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.formContainer button {
  background-color: #0077c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.formContainer button.closeButton {
  background-color: #ccc;
  color: #000;
  margin-left: 10px;
}

.formContainer button:hover {
  background-color: #0060a3;
}

.formContainer h3 {
  color: green;
  margin-top: 10px;
}

/* .uploadContainer{
  width: 500px;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  color: white;
  background-color:  #212529;
  justify-content:center;
} */

  /* position: absolute;
  z-index: 1;
  display: block;
  border-style: double;
  margin: 50px; */
    /* margin: 20px; */

.uploadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #283345;
      color: white;
      border-radius: 10px;
      padding: 20px;
}
    

 .uploadBox {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
} 

/* .uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
} */

.uploadContainer label {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: larger;
}

.uploadButton {
  margin-top: 10px;
}



.overlay{
  width: 200vw;
  height: 100%;
  background-color: rgba(65, 64, 64, 0.759);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
}

/* 
file input design */

.fileInput {
  position: relative;
  width: 220px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

/* @media screen and (max-width: 480px){
  .container{
      height: auto;
      text-align: center;
      flex-direction: column;
      margin-top: 20px;
  }
  .imgContainer{
      width: 70vw;
      height: 60vw;
      padding: 0;
  }
  .title{
      margin-bottom: 10px;
      font-size: 30px;
  }
  .desc{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .price, .title{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .price{
      font-size: 28px;
  }

} */