/*@import url("https://cdn.syncfusion.com/ej2/material.css");*/

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.description{
    margin: 20px;
}

.text{
    margin: 10px;
}

