.main {
    background-color: rgba(255, 255, 255, 0.924);
}
.container {
    padding: 20px 10px;
}

.service_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.booking_container {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 30px 65px 30px 65px;
    border-radius: 5px;
}

.date_wrapper {
    margin: 15px 30px 15px 5px;
}

.time_wrapper {
    margin: 15px 10px 15px 30px;
    padding-right: 14px;
}

.time_button {
    background-color: rgba(216, 238, 254, 0.94);
    color: black;
    font-size: 14px;
    width: 15%;
    padding: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 2px;
    border: none;
}

.time_button:disabled,
.time_button[disabled]{
  background-color: #e3cfcf;
  color: black;
  border: none;
}

.title {
    color: black;
    margin: 15px 10px 15px 65px;
    padding-right: 14px;
}
