.container {
  height: calc(100vh - 100px);
  background-color: #191919;
  overflow: hidden;
  margin: 0;
  padding: 0;
width: 100%;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out ;
 
  
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position:relative;


}
.imgContainer Image{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }
}