.container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.formContainer {
  width: 500px;
  margin: 20px;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background-color: #212529;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.uploadButton {
  border: 0.9px solid rgb(123, 122, 122);
  border-radius: 2px;
}

.uploadButton:hover {
  background-color: rgb(234, 231, 231);
}

.imagesContainer {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 750px;
  overflow-y: scroll;
  gap: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  width: 26%;
  margin: 8px;
  background-color: #3c4047;
}

.imgContainer:hover {
  transform: scale(1.05);
  transition: 0.1s transform;
}

.deleteButton {
  position: relative;
  bottom: 195px;
  left: 85%;
  width: fit-content;
  border-radius: 8px;
  background-color: red;
  color: white;
  border: none;
}

/*
@media screen and (max-width: 2562px) {
  .deleteButton {
    position: relative;
    bottom: 202px;
    left: 88%;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    color: red;
    border: none;
  }
} */
