.imagesContainer {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  /* margin-left: 4px;
  margin-right: 21px;
  margin-bottom: 21px; */
  margin: auto;
}

.imgContainer {
  display:flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.deleteButton {
  position:relative;
  bottom: 200px;
  left: 167px;
  width:fit-content;
  border-radius: 8px;
  background-color: red;
  color: white;
  border: none;

}

.mainContainer1 {
  min-height: 10%;
  width: 100%;
  position: relative;
  background-color: white;

}

.formContainer {
  width: 50%;
  margin-left: 30px;
  border: 2px dotted black;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

/* .imgContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
   width: 25%; 
  border: 9px solid gray;
  margin: 10px;
} */

/* .imgContainer:hover {
  transform: scale(1.05);
  transition: 0.1s transform;
} */