.container {
  height:100%;
  position: relative;


}

.container::-webkit-scrollbar {
  display: none;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 130px;
  gap: 10px;
  padding-top: 25px;
  border-radius: 2px;

}



.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1;
  text-align: left;
}

.imageContainer {
  position: relative;
  width: 300px;
  min-height: 200px;
  max-height: 250px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    position: relative;
    overflow-x: hidden;
  
  
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 40px auto;
    gap: 10px;
    padding-left: 8px;
    padding-top: 30px;
    border-radius: 9px;
    width: 90%;
    height: fit-content;
  
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
    width: 270px;
    min-height: 200px;
    max-height: 250px;
  }
  

}

@media screen and (max-width: 415px) {
  .container {
    position: relative;
    height: 100%;
    overflow-x: hidden;
  }

  .cardsContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 10.5px auto;
    gap: 10px;
    padding-top: 30px;
    border-radius: 9px;
    width: 95%;
    height: fit-content;
  
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
    width: 345px;
    min-height: 250px;
    max-height: 315px;
    
  }
  

}

@media screen and (max-width: 376px) {
  .container {
    height: 100%;
    overflow-x: hidden;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 15px auto;
    gap: 10px;
    padding-top: 30px;
    border-radius: 9px;
    width: 92%;
    height: fit-content;
  
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
  }
  
  .imageContainer {
    position: relative;
    width: 295px;
    min-height: 200px;
    max-height: 250px;
  }
  

}
