.container {
    display: flex;
    height: 80vh;
    max-height: fit-content;
    background-image: url('/img/retroBarber.png');
    background-size: cover;
    position: relative;
    
}
.overlay{
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 20%, rgba(0,0,0,0.7) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}
.wrapper {
    display: flex;
    
    flex-direction: column;
    width: 550px;
    height: 400px;
    background-color: rgba(61, 61, 61, 0.493);
    box-shadow: 0 0 30px 10px #1b1b1b;
    padding-left:3%;
    padding-right:3%;
    justify-content: center;
    border-radius: 20px;
    color: whitesmoke;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.wrapper h2{
    font-weight: lighter;
    
    font-size: 2rem;

}
.button {
    border-radius: 5px;
    margin-top: 4%;
    padding: 12px;
    width: 100%;
    border: none;
    background-color: rgb(31, 82, 112);
    font-size: 1.1rem;
    text-align: center;
    color: whitesmoke;

}

.button:hover {
    background-color: rgb(159, 157, 157);
    transition: background-color 0.2s;
}


.stuff {
    margin-left: 1%;
    font-size: 1.1rem;
    color: black;
}

.wrapper.loaded {
    opacity: 1;
  }



  @media screen and (max-width: 890px){
    
    .wrapper {
        display: flex;
        
        flex-direction: column;
        width: 550px;
        height: 400px;
        background-color: rgba(61, 61, 61, 0.493);
        box-shadow: 0 0 30px 10px #1b1b1b;
        padding-left:3%;
        padding-right:3%;
        justify-content: center;
        border-radius: 20px;
        color: whitesmoke;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    .wrapper h2{
        font-weight: lighter;
        
        font-size: 2rem;
    
    }
}
