.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: white;
}

.table th,
.table td {
  border: 1px solid #ccccccb0;
  padding: 10px;
  text-align: left;
  padding: 20px;
}

.table th {
  background-color: #ffffff;
  font-weight: bold;
  color: black;
  padding: 20px;
}
