.container{
    display: flex;
    padding: 50px;
    background-color: #33333348;
    width: 80%;
    max-height: fit-content;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.left{
    
    width: 50%;
    min-width: 400px;
}

.right{
    
    width: 40%;
}

.title, .price, .desc{
    color: white;
    align-items: center;
    display: flex;
    font-size: 1em;
}
.img{
    width: 100%;
  height: auto;
  border-radius: 10px;
}
.price{
    font-size: 30px;
}

.imgContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    max-width: 100%;
    
    
}

@media screen and (max-width: 600px){
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
        
    }
    .imgContainer{
        
        
       width: 100%;
    }
    .right{
        width: 100%;
        margin-top: 2%;
    }
    .title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .desc{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .price, .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price{
        font-size: 28px;
    }

}