.container{
    display: flex;
    padding: 70px;
    background-color: black;
}

.left{
    flex: 3;
}

.right{
    flex: 2;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    right: 580px;
    transition: 0.2s;
}

.close:hover{
    background-color: rgb(61, 61, 61);
}

.title, .price, .desc{
    color: white;
    align-items: center;
    display: flex;
}

.title{
    padding-top: 10px;
}

.price{
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-bottom: 20px;
}

.desc{
    padding-right: 100px;
    padding-left: 0px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
}

.imgContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    padding-bottom: 290px;
    transition: 0.3s;
}

.imgContainer:hover{
    cursor:pointer;
    opacity: 0.8;
}

@media screen and (max-width: 480px){
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .imgContainer{
        width: 70vw;
        height: 60vw;
        padding: 0;
    }
    .title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .desc{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .price, .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price{
        font-size: 28px;
    }

}