.container{
    background-color: white;
    color: beige;
    font-family: 'Roboto', sans-serif;
}



/* figure{
    max-width: 500px;
} */


.service_card{
    display: inline-block;
    background-color: #404040;
    margin: 10px;
    border-radius: 10px;
    opacity: 0.5s;
    max-width: 80%;
}

.container{
    text-align: center;
}

.wrapper{
    opacity: 1;
    max-width: 600px;
}

.haircut_title{
    font-size: 30px;
}
/* 
figcaption p{
    font-size: 18px;
} */

.button {
    background-color: beige;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    margin-bottom: 20px;
  } 


