.container{
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    border-style: solid; /*button color: #363636*/
    border: 1px solid #d7d7d7;
    margin: 15px;
}


.title{
    font-size: 18px;
    font-weight: bold;
    color: #363636;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
    line-height: 48px;
}

.price, .time{
    font-size: 16px;
    color: #666;
}

.time{
    padding-top: 10px;
    padding-bottom: 10px;
}

.description{
    flex-direction: column;
    display: flex;
    padding-bottom: 40px;
}

.button{
    background-color: #363636;
    color: white;
    font-size: 16px;
    padding: 5px 30px;
    margin: 10px 0px;
    cursor: pointer;
    border-color: #363636;
}

.button:hover{
    opacity: 0.6;
    transition: 0.4s;
}

.wrapper{
    padding: 10px;
}