.container{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    
    min-width: 250px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
}

.price, .desc{
    font-size: 16px;
    color: whitesmoke
}

.price{
    align-items: center;
    display: flex;
    justify-content: center;
}

.desc{
    padding-top: 10px;
    padding-bottom: 10px;
}

.info{
    flex-direction: column;
    display: flex;
    padding-bottom: 40px;
}

.wrapper{
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #333333a4;
    color: whitesmoke;
    cursor: pointer;
    transition: transform .2s;
    border-radius: 10px;
}

.wrapper:hover{
    transform: scale(1.07);
    background-color: rgba(54, 54, 54, 0.89);
}

@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }

    .title{
        font-style: 30px;
    }

    .price, .desc{
        font-style: 24px;
    }
}
