.container{
    width: 22%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}

.title{
    font-size: 18px;
    font-weight: bold;
}

.price, .description{
    font-size: 16px;
    color: #666;
}

.description{
    padding-top: 10px;
    padding-bottom: 10px;
}

.info{
    flex-direction: column;
    display: flex;
    padding-bottom: 40px;
}

.wrapper{
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
}

@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }

    .title{
        font-style: 30px;
    }

    .price, .desc{
        font-style: 24px;
    }
}
