.btn.btn-social {
    border: 0;
     position: relative;
     padding-left: 44px;
     text-align: left;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
       margin: 5px;
   }
   .btn.btn-social :first-child {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     width: 32px;
     line-height: 43px;
     font-size: 1.6em;
     text-align: center;
     border-right: 1px solid rgba(0,0,0,0.2);
   }
   
   .btn.btn-social-icon {
     position: relative;
     padding-left: 44px;
     text-align: left;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     height: 34px;
     width: 34px;
     padding-left: 0;
     padding-right: 0;
     margin-bottom: 4px;
   }
   .btn.btn-social-icon :first-child {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     width: 32px;
     line-height: 34px;
     font-size: 1.6em;
     text-align: center;
     border-right: 1px solid rgba(0,0,0,0.2);
     border: none;
     text-align: center;
     width: 100% !important;
     padding-right: 10px;
   }
   
   .btn.btn-bitbucket {
     color: #fff;
     background-color: #205081;
     border-color: rgba(0,0,0,0.2);
   }
   .btn-bitbucket:hover,
   .btn-bitbucket:focus,
   .btn-bitbucket:active,
   .btn-bitbucket.active,
   .open .dropdown-toggle.btn-bitbucket {
     color: #fff;
     background-color: #183c60;
     border-color: rgba(0,0,0,0.2);
   }
   .btn-bitbucket:active,
   .btn-bitbucket.active,
   .open .dropdown-toggle.btn-bitbucket {
     background-image: none;
   }
   .btn-bitbucket.disabled,
   .btn-bitbucket[disabled],
   fieldset[disabled] .btn-bitbucket,
   .btn-bitbucket.disabled:hover,
   .btn-bitbucket[disabled]:hover,
   fieldset[disabled] .btn-bitbucket:hover,
   .btn-bitbucket.disabled:focus,
   .btn-bitbucket[disabled]:focus,
   fieldset[disabled] .btn-bitbucket:focus,
   .btn-bitbucket.disabled:active,
   .btn-bitbucket[disabled]:active,
   fieldset[disabled] .btn-bitbucket:active,
   .btn-bitbucket.disabled.active,
   .btn-bitbucket[disabled].active,
   fieldset[disabled] .btn-bitbucket.active {
     background-color: #205081;
     border-color: rgba(0,0,0,0.2);
   }
   .btn-dropbox {
     color: #fff;
     background-color: #1087dd;
     border-color: rgba(0,0,0,0.2);
   }
   .btn-dropbox:hover,
   .btn-dropbox:focus,
   .btn-dropbox:active,
   .btn-dropbox.active,
   .open .dropdown-toggle.btn-dropbox {
     color: #fff;
     background-color: #0d70b7;
     border-color: rgba(0,0,0,0.2);
   }
   .btn-dropbox:active,
   .btn-dropbox.active,
   .open .dropdown-toggle.btn-dropbox {
     background-image: none;
   }