.container {
  /* background-color: white; */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10px;
  /* background-color: blue; */
}
.border {
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.756);
  margin: 30px 0px;
  overflow-y: scroll;
}
.titleContainer {
  height: 75px; /* set a fixed height */
  position: sticky;
  top: 0;
  
}
.title {
  /* text-align: center; */
  /* background-color: red; */
  margin-left: 10px;
  margin-top: 10px;
}

.cardsContainer {
  /* overflow-y: scroll; */
}

.staffCard {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(255, 255, 255, 0.756);
  justify-content: space-between;
  padding: 0px 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.staffCard:hover {
  background-color: #00000076;
  cursor: pointer;
}
.staffInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}
.staffSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50px; */
  /* margin-right: 5px; */
}

.buttonSelector {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.select {
  font-weight: 500;
  font-size: 20px;
  border: 1px;
}

.right {
  /* background-color: red; */
  /* background-color: white; */
  /* flex: 1; */
  border-left: 1px black solid;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.recordTabMenu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 75px;
  /* background-color: rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
}

.recordTabItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 0px 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #212529;
  color: white;
}
.recordTabItem:hover {
  text-decoration: underline;
}

.content {
  width: 100%;
  padding-top: 20px;
  height: 100%;
}

.recordTabButton:hover {
  background-color: #ffffff7f;
}
